body {
  background-color: #f8f9fe;
  font-family: 'proxima-nova', sans-serif;
  line-height: 1;
  color: #2e1f37;
}

body a, body a:hover {
  color: inherit;
}

body .opacity-1 {
  opacity: 1 !important;
}

body .opacity-0 {
  opacity: 0 !important;
}

body .display-none {
  display: none !important;
}

body .full-width {
  width: 100%;
}

body #app {
  height: 100%;
}

body input {
  outline: none;
  border: none;
  font-family: 'proxima-nova', sans-serif;
}

body .ui.segment {
  border: none;
  box-shadow: 2px 4px 4px 2px rgba(0,0,0,.02);
  border-radius: 10px;
  padding: 0;
}

body .ui.segment .padded {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

body .ui.segment h1 {
  font-size: 22px;
  font-family: 'filson-soft', sans-serif;
  font-weight: 300;
  padding: 30px;
  margin-bottom: 0;
}

body .ui.dropdown.selection {
  border-right: none;
  border-top: none;
  border-left: none;
  border-radius: 0;
  background: transparent;
  min-height: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(116,100,126,0.51);
}

body .ui.dropdown.selection:focus {
  border-bottom: 1px solid rgba(116,100,126,0.71);
}

body .ui.dropdown.selection .menu.visible {
  border: none;
}

body .ui.celled.grid {
  box-shadow: none;
  border: 1px solid rgba(116,100,126,0.15);
}

.home-page .logo {
  width: 154px;
  margin-bottom: -117px;
}

.home-page .top-segment {
  height: 86px;
  background-color: #2e1f37;
  text-align: center;
  border-bottom: 15px solid #FFF;
  box-shadow: 0px 0px 50px 20px rgba(0,0,0,0.04);
  background-image: url(../images/header-bg.png);
  background-size: auto 86px;
  background-position: 0 5px;
}

.home-page .headline {
  font-family: 'filson-soft', sans-serif;
  margin-top: 60px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

.home-page .keyword-search .input {
  width: 100%;
  font-size: 15px;
}

.home-page .keyword-search .input .prompt {
  border-radius: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #2e1f37;
  padding-top: 19px;
  padding-bottom: 19px;
  border: none;
  box-shadow: 6px 6px 49px -6px rgba(0,0,0,0.07);
}

.home-page .keyword-search .input .icon.search {
  width: 56px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 56px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-size: 25px auto;
  background-color: #2e1f37;
  background-image: url(../images/magnifier-icon.png);
  color: #65e70e;
  opacity: 1;
}

.home-page .app-page-link-grid {
  position: relative;
}

.home-page .app-page-link-grid:after {
  content: '';
  border-top: 1px solid rgba(116,100,126,0.12);
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home-page .app-page-link-grid .column {
  background-color: #f8f9fe;
  display: flex !important;
  justify-content: center;
}

.home-page .app-page-link-grid .column .app-page-button-link {
  width: 156px;
  justify-content: center;
  margin: 0 10px;
  align-items: center;
  padding: 10px 0;
  font-weight: normal;
  box-shadow: 6px 6px 49px -2px rgba(0,0,0,0.07);
  font-size: 12px;
  background-color: #FFF;
  border-radius: 12px;
  display: flex;
  color: #2e1f37;
}

.home-page .app-page-link-grid .column .app-page-button-link .button-icon {
  width: 20px;
  height: 23px;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.home-page .app-page-link-grid .column .app-page-button-link .button-icon.view-offerings {
  background-image: url(../images/view-offerings-icon.png);
  background-size: 15px auto;
}

.home-page .app-page-link-grid .column .app-page-button-link .button-icon.create-offering {
  background-image: url(../images/create-offering-icon.png);
  background-size: 19px auto;
  height: 21px;
}

@media screen and (max-width: 991px) {

  .home-page .offerings-grid {
    padding: 0 10px;
  }

}

.home-page .offering-column .title-container {
  background-size: 100% auto;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.home-page .offering-column .title-container .title {
  font-weight: 300;
  font-family: 'filson-soft', sans-serif;
  font-size: 17px;
  color: #FFF;
  padding-top: 30px;
  background-size: auto 20px;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.home-page .offering-column .show-more {
  text-transform: uppercase;
  font-size: 9px;
  text-decoration: underline;
  padding: 20px 0;
  display: block;
  font-family: 'filson-soft', sans-serif;
}

.home-page .offering-column:first-child .show-more {
  color: #65e70e;
}

.home-page .offering-column:first-child .title-container {
  background-color: #65e70e;
  background-image: url(../images/rollover-bg-green.png);
}

.home-page .offering-column:first-child .title-container .title {
  background-image: url(../images/leaf-icon.png);
}

.home-page .offering-column:last-child .show-more {
  color: #ff0090;
}

.home-page .offering-column:last-child .title-container {
  background-color: #ff0090;
  background-image: url(../images/rollover-bg-pink.png);
}

.home-page .offering-column:last-child .title-container .title {
  background-image: url(../images/flag-icon.png);
}

.home-page .offering-column .show-more {
  color: #9d0adb;
}

.home-page .offering-column .title-container {
  background-color: #9d0adb;
  background-image: url(../images/rollover-bg-purple.png);
}

.home-page .offering-column .title-container .title {
  background-image: url(../images/heartbeat-icon.png);
}

.home-page .footer {
  font-size: 0.85em;
  margin-top: 50px !important;
  font-family: 'filson-soft', sans-serif;
  margin-bottom: 20px;
}

.home-page .footer .part-of-district0x {
  display: flex;
  align-items: center;
}

.home-page .footer .district0x-link {
  text-decoration: underline;
  margin-left: 3px;
}

.home-page .footer .footer-logo {
  background-image: url(../images/district0x-footer-logo.png);
  background-repeat: no-repeat;
  background-size: auto 17px;
  width: 73px;
  height: 17px;
  padding-right: 0;
}

.app-container {
  min-height: 1200px;
}

.app-container > .menu.left.sidebar {
  box-shadow: 0 0 20px 5px rgba(34,36,38,.15);
  min-height: 1200px;
  background-color: #2e1f37;
  width: 190px;
  background-image: url(../images/market-stall.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 150px auto;
  font-family: 'proxima-nova', sans-serif;
}

.app-container > .menu.left.sidebar .item {
  transition: color .25s ease;
}

.app-container > .menu.left.sidebar .item, .app-container > .menu.left.sidebar .item.active, .app-container > .menu.left.sidebar .item:hover, .app-container > .menu.left.sidebar item.active:hover {
  background: none;
  background-repeat: no-repeat;
  background-position: 20px 50%;
  background-size: 25px auto;
}

.app-container > .menu.left.sidebar .item {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12.5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 65px;
  background-repeat: no-repeat;
  background-position: 20px 50%;
  background-size: 25px auto;
}

.app-container > .menu.left.sidebar .item.nested-item {
  color: #7d96c3;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11.5px;
}

.app-container > .menu.left.sidebar .item.nested-item:not(.offerings-ending-soon):before {
  background: none;
}

.app-container > .menu.left.sidebar .item.nested-item.offerings-ending-soon {
  padding-bottom: 20px;
}

.app-container > .menu.left.sidebar .item:hover {
  color: #FFF;
}

.app-container > .menu.left.sidebar .item.active {
  border-right: 10px solid #65e70e;
}

.app-container > .menu.left.sidebar .item:before {
  background: rgba(116,100,126,0.3);
}

.app-container > .menu.left.sidebar .item.offerings-search {
  background-image: url(../images/offerings-icon.png);
  background-size: auto 25px;
  border-top: 1px solid rgba(116,100,126,0.3);
}

.app-container > .menu.left.sidebar .item.offerings-search:before {
  background: none;
}

.app-container > .menu.left.sidebar .item.offering-requests-search {
  background-image: url(../images/requests-icon.png);
}

.app-container > .menu.left.sidebar .item.watched-names {
  background-image: url(../images/watched-names-icon.png);
}

.app-container > .menu.left.sidebar .item.create-offering {
  background-image: url(../images/create-offering-icon-green.png);
}

.app-container > .menu.left.sidebar .item.my-offerings {
  background-image: url(../images/my-offerings-icon.png);
}

.app-container > .menu.left.sidebar .item.my-purchases {
  background-image: url(../images/my-purchases-icon.png);
  background-size: auto 23px;
}

.app-container > .menu.left.sidebar .item.my-bids {
  background-image: url(../images/my-bids-icon.png);
  background-size: auto 25px;
}

.app-container > .menu.left.sidebar .item.my-settings {
  background-image: url(../images/my-settings-icon.png);
}

.app-container > .menu.left.sidebar .item.register-name {
  background-image: url(../images/register-name-icon.png);
}

.app-container > .menu.left.sidebar .item.how-it-works {
  background-image: url(../images/how-it-works-icon.png);
}

.app-container > .menu.left.sidebar .item.about {
  background-image: url(../images/about-icon.png);
}

.app-container > .menu.left.sidebar .district0x-banner {
  padding-left: 18px;
  padding-top: 39px;
  color: #65e70e;
  font-family: 'filson-soft', sans-serif;
  font-size: 11.5px;
  line-height: 1.6;
}

.app-container > .menu.left.sidebar .district0x-banner .logo {
  background-image: url(../images/district0x-sidenav-logo.png);
  background-repeat: no-repeat;
  background-size: auto 17px;
  width: 73px;
  height: 17px;
  margin-bottom: 12px;
}

.app-container > .menu.left.sidebar .district0x-banner a {
  text-decoration: underline;
}

.app-container > .menu.left.sidebar .district0x-banner a:hover {
  color: #65e70e;
}

.app-container .side-nav-logo {
  width: 100%;
  text-align: center;
  display: block;
  margin: 30px 0;
}

.app-container .side-nav-logo img {
  width: 120px;
}

@media screen and (min-width: 992px) {

  .app-container > .pusher {
    padding-left: 190px;
  }

}

.app-container > .pusher .app-bar {
  height: 45px;
  background-color: #FFF;
  box-shadow: 0px 0px 50px 20px rgba(0,0,0,0.04);
}

.app-container > .pusher .app-bar .column {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container > .pusher .app-bar .sidebar-toggle {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media screen and (min-width: 992px) {

  .app-container > .pusher .app-bar .sidebar-toggle {
    display: none;
  }

}

.app-container > .pusher .app-bar .left-section {
  padding-top: 0;
  padding-bottom: 0;
  align-items: left;
}

@media screen and (max-width: 991px) {

  .app-container > .pusher .app-bar .left-section .active-address-select {
    display: none;
  }

}

.app-container > .pusher .app-bar .left-section .active-address-select.single-address {
  font-size: 17px;
}

.app-container > .pusher .app-bar .middle-section {
  border-left: 1px solid rgba(116,100,126,0.15);
}

.app-container > .pusher .app-bar .right-section {
  background-color: #9d0adb;
  color: #FFF;
  height: 100%;
}

.app-container > .pusher .app-bar .right-section .active-address-balance {
  font-size: 18px;
}

.app-container > .pusher .app-bar .app-bar-search-container {
  position: relative;
  width: 65%;
  max-width: 280px;
  text-align: right;
  display: inline-block;
}

.app-container > .pusher .app-bar .app-bar-search-container .app-bar-search-icon {
  width: 20px;
  cursor: pointer;
  background-image: url(../images/magnifier-icon2.png);
  background-position-y: 50%;
  right: 4px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 15px auto;
  height: 100%;
}

.app-container > .pusher .app-bar .app-bar-search-container input {
  background-color: #eef0f9;
  border-radius: 15px;
  padding: 4px 30px 4px 15px;
  width: 100%;
}

.app-container > .pusher .offering-detail .offering-properties-table.auction {
  height: 220px;
}

.app-container > .pusher .offering-detail .offering-properties-table.buy-now {
  height: 110px;
}

.app-container > .pusher .offering-detail .chips {
  margin-bottom: 30px;
}

.app-container > .pusher .offering-detail .offering-chip {
  border-radius: 20px;
  border: 1px solid #000;
  display: inline-block;
  padding: 9px 15px 9px 40px;
  background-repeat: no-repeat;
  font-size: 12px;
  background-position: 15px 50%;
  margin-right: 14px;
}

.app-container > .pusher .offering-detail .offering-chip.offering-status.active, .app-container > .pusher .offering-detail .offering-chip.offering-status.missing-ownership {
  border-color: #5edb0b;
  color: #5edb0b;
  background-image: url(../images/active-icon-green.png);
}

.app-container > .pusher .offering-detail .offering-chip.offering-type.auction-offering {
  border-color: #9d0adb;
  color: #9d0adb;
  background-image: url(../images/auction-icon-purple.png);
}

.app-container > .pusher .offering-general-info {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #47608e;
  font-size: 15px;
  line-height: 1.9;
}

.app-container > .pusher .offering-general-info a {
  text-decoration: underline;
}

.expandable-list-item {
  width: 100%;
  border-bottom: 1px solid rgba(116,100,126,0.13);
  border-opacity: 0.1;
}

.expandable-list-item .header {
  width: 100%;
  cursor: pointer;
  display: flex;
}

.expandable-list-item .body {
  overflow: hidden;
  transition: height 0.15s cubic-bezier(0.77, 0, 0.175, 1);
}

.search-results-list-item {
  display: flex;
  width: 100%;
  padding: 12px;
  text-align: left;
}

.search-results-list-item .search-results-list-item-header {
  display: flex;
  align-items: center;
  width: 100%;
  transition: opacity .25s ease-in;
}

.search-results-list-item .search-results-list-item-header.opacity-0 {
  position: absolute;
}

.search-results-list-item .search-results-list-item-header .left-section, .search-results-list-item .search-results-list-item-header .right-section {
  display: inline-block;
  transition: opacity .25s ease-in;
}

.search-results-list-item .search-results-list-item-header .left-section {
  width: calc(100% - 160px);
  border-right: 1px solid rgba(116,100,126,0.07);
}

.search-results-list-item .search-results-list-item-header .right-section {
  width: 160px;
}

.search-results-list-item .search-results-list-item-header .offering-main-text, .search-results-list-item .search-results-list-item-header .offering-price {
  line-height: 1.3;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
  padding-right: 3px;
}

.search-results-list-item .search-results-list-item-header .offering-type {
  text-transform: uppercase;
  color: #b2bacb;
  font-size: 9px;
  line-height: 2.5;
  font-weight: bold;
  padding-left: 20px;
  background-repeat: no-repeat;
}

.search-results-list-item .search-results-list-item-header .offering-type.buy-now {
  background-image: url(../images/buy-now-icon.png);
  background-size: 12px auto;
}

.search-results-list-item .search-results-list-item-header .offering-type.auction {
  background-image: url(../images/auction-icon.png);
  background-size: 14px auto;
}

.search-results-list-item .search-results-list-item-header .offering-auction-item, .search-results-list-item .search-results-list-item-header .offering-buy-now-item {
  text-align: center;
  width: 100%;
  height: 100%;
}

.search-results-list-item .search-results-list-item-header .offering-auction-item.time-left {
  border-left: 1px solid rgba(116,100,126,0.07);
}

.search-results-list-item .search-results-list-item-header .offering-auction-item {
  width: 50%;
  display: inline-block;
}

.search-results-list-item .search-results-list-item-header .offering-auction-item .amount {
  font-size: 38px;
  color: #e9eff9;
  font-weight: bold;
  line-height: 1.2;
  font-family: 'proxima-nova-extra-condensed', sans-serif;
  padding-top: 7px;
}

.search-results-list-item .search-results-list-item-header .offering-auction-item .text {
  font-size: 10px;
}

.search-results-list-item .search-results-list-item-header .offering-buy-now-item .button {
  font-size: 11px;
  background-color: #f0f4fb;
  border-radius: 15px;
  width: auto;
}

.loading-placeholder {
  background-color: #f8f9fe;
  width: 100%;
  background: linear-gradient(to right, #f8f9fe 8%, #ffffff, 18%, #f8f9fe 37%);
  animation-timing-function: linear;
  animation-duration: 1s;
  position: relative;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-name: placeholder-shimmer;
}

.loading-placeholder .placeholder-background-masker {
  background: #FFF;
  position: absolute;
}

.loading-placeholder.list-item-placeholder {
  display: flex;
  align-self: stretch;
}

.loading-placeholder.list-item-placeholder .placeholder-background-masker.masker-1 {
  height: 3px;
  top: 0px;
  width: 100%;
}

.loading-placeholder.list-item-placeholder .placeholder-background-masker.masker-2 {
  height: 13px;
  width: 88%;
  left: 12%;
}

.loading-placeholder.list-item-placeholder .placeholder-background-masker.masker-3 {
  height: 7px;
  top: 12px;
  width: 100%;
}

.loading-placeholder.list-item-placeholder .placeholder-background-masker.masker-4 {
  height: 20px;
  top: 18px;
  width: 70%;
  left: 30%;
}

.loading-placeholder.list-item-placeholder.short {
  animation-name: placeholder-shimmer-short;
}

.loading-placeholder.list-item-placeholder.short .masker-5 {
  height: 7px;
  top: 32px;
  width: 100%;
}

.loading-placeholder.list-item-placeholder.short .masker-6 {
  height: 20px;
  top: 35px;
  width: 50%;
  left: 50%;
}

.loading-placeholder.content-placeholder {
  height: 65px;
}

.loading-placeholder.content-placeholder .placeholder-background-masker.masker-1 {
  height: 15px;
  width: 80%;
  left: 20%;
}

.loading-placeholder.content-placeholder .placeholder-background-masker.masker-2 {
  height: 10px;
  top: 15px;
  width: 100%;
}

.loading-placeholder.content-placeholder .placeholder-background-masker.masker-3 {
  height: 15px;
  width: 70%;
  left: 30%;
  top: 25px;
}

.loading-placeholder.content-placeholder .placeholder-background-masker.masker-4 {
  height: 10px;
  top: 40px;
  width: 100%;
}

.loading-placeholder.content-placeholder .placeholder-background-masker.masker-5 {
  height: 15px;
  width: 60%;
  left: 40%;
  top: 50px;
}

.app-bar-search-wrapper:hover {
  background: rgba(255, 255, 255, 0.25) !important;
}

.app-bar-search-wrapper input:focus {
  width: 200px !important;
}

@keyframes placeholder-shimmer {

0% {
    background-position: -468px 0;
  }
  
100% {
    background-position: 468px 0;
  }

}

@keyframes placeholder-shimmer-short {

0% {
    background-position: -200px 0;
  }
  
100% {
    background-position: 200px 0;
  }

}